<!DOCTYPE html>
<html>
<head>
  <title>Add a new campus</title>
</head>
<body>
<p>Testing yo</p>
  <form action="/campus" method="POST">
    <input type="text" name="campus" placeholder="Campus">
    <button type="submit">Save</button>
  </form>
</body>
</html>