body {
    background-color: #000;
    font-family: 'Oswald', 'Futura', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: block;
    margin: 8px;
}

@media only screen and (min-width: 960px)
#page {
    max-width: 480px;
    margin: 20px auto 20px auto;
}
#page {
    background-color: #403c3b;
    margin: 0 auto 0 auto;
    position: relative;
    text-align: center;
}
div {
    display: block;
}
h1 {
    background-image: url(../images/kinglogo.png);
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    text-indent: -1000%;
    height: 75px;
    line-height: 75px;
    width: 117px;
    margin: 0 auto 0 auto;
    padding: 30px 10px 20px 10px;
}
h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}